html, main {
  height: 100%;
  margin: 0
}
body {
  height:90%;
  background-color: #333;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #dfdfdf;
  font-family: sans-serif;
}
button {
  background: none;
  border: none;
  border-radius: 10px;
}
a {
  background: none;
  border: none;
  border-radius: 10px;
}
#next {
  color: #eae45b;
  transition: all 0.3s;
}
#next:hover {
  background: #706b0f;
}
#next:active {
  background: #c3ab0f;
}
#tweet {
  color: #59d0ea;
  transition: all 0.3s;
  padding: 0px 8px;
}
#tweet:hover {
  background: #005766;
}
#tweet:active {
  background: #0088ac;
}
.quote-box {
  width: 90%;
  flex: 4;
  align-self: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 10%;
  font-size: 200%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
#author {
  align-self: flex-end;
  font-style: italic;
  margin-right: 5%;
}
.scale-text-base {
  font-size: calc(1vw + 1vh);
}
.scale-text {
  font-size: 1em;
}
.align-right {
  text-align: right;
}
